body{
    background: radial-gradient(rgb(40, 40, 40), black);
	color: rgb(230, 230, 220);
    font-size: 1.2rem;
}
header{
    background-image: url("../img/headerBackground.jpg");
    background-size: cover;
	color: rgb(230, 230, 220);
	padding: 1.8rem;
    font-family: 'Trade Winds', cursive;
    -moz-box-shadow: 8px 8px 33px #000000;
    -webkit-box-shadow: 8px 8px 33px #000000;
    box-shadow: 8px 8px 33px #000000;
}
header a{	
    text-decoration: none;
    font-family: 'Odibee Sans', cursive;
    font-size: 1.8rem;
    color: rgb(230, 230, 220);
}
.BlueLetter{
    color: rgb(0, 105, 240);
    font-weight: bold;
}
header a:hover{	
    color: rgb(0, 105, 240);
}
nav ul{
	display: flex;
	justify-content: space-around;
	margin-left: -2rem;
}
nav li{
	display: inline-block;
	list-style: none;
	padding:1rem;
}
nav a{	
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(230, 230, 220);
    font-family: 'Odibee Sans', cursive;
}
.activPage{
	color: rgb(0, 105, 240);
}
nav a:hover{
    color: rgb(0, 105, 240);
}
section{
    margin: 1rem;
    padding: 3rem;
    word-spacing: 0.1rem;
    line-height: 1.8rem;
    vertical-align: top;
    -moz-box-shadow: -6px -6px 33px #000000;
    -webkit-box-shadow: -6px -6px 33px #000000;
    box-shadow: -6px -6px 33px #000000;
}
section h2{
	font-family: 'Trade Winds', cursive;
    margin-left: 30%;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
section h3{
    text-decoration: underline;
    font-family: 'Odibee Sans', cursive;
}
section a{
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(0, 105, 240);
	margin: 2rem;
	margin-top: 1rem;
}
section a:hover{
    color: rgb(0, 105, 240);
    font-weight: bold;
}
section li a{
    margin: 0rem;
    font-size: 1.4rem;
    color: rgb(0, 105, 240);
}
section li a:hover{
    font-weight: bold;
}
.screenright{
    float: right;
    width: 40%;
    height: 20%;
    margin: 2rem;
}
.screenright:hover{
    transform: scale(1.8);
}
.quoteButton{
    border: 1px solid rgb(0, 105, 240);
    padding: 1rem;
}
.quoteButton:hover{
    border: 1px solid black;
    background-color: rgb(0, 105, 240);
    color: black;
    padding: 1rem;
}
#profilePicture{
    width: 12rem;
    height: 15rem;
    float: right;
    margin: 2%;
}
.flex{
    display: flex;
    justify-content: flex-start;
}
.flex div{
    width: 24%;
    text-align: center;
}
.languageFlag{
    width: 60%;
    height: 70%;
}
.miniBlock{
	background-color: rgba(40, 40, 40, 0.95);
	padding: 1rem;
	border-radius: 10px;
	border: 1px solid black;
}
.flexwrapContainer{
    display: flex;
    flex-wrap: wrap;
}
.flexwrapContainer div{
    margin: auto;
}
.techno{
    width: 6rem;
    height: 4rem;
}
.rating{
    width: 6rem;
    height: 2rem;
}
.form-control{
    margin: 1rem;
    height: 2rem;
    width: 70%;
}
#projects_description, #website_quote_message, #info_presentation, #formation_description, #experience_description {
    height: 15rem;
}
label{
    vertical-align: top;
}

.fa-undo{
 font-size: 2rem;
}
.alert-success{
    color: lawngreen;
}