{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <section>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <a href="{{path('presentation')}}"><i class="fas fa-undo"></i></i></a>
        </section>
    </main>
{% endblock %}