{% extends 'base.html.twig' %}
{% block body %}
<main>
    <section>
        {% spaceless %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a href="{{path('webSkills', {'id':0} )}}"><i class="fas fa-undo"></i></i></a>
        {% endspaceless %}
    </section>
</main>
{% endblock %}